body {
  background-color: rgb(25, 30, 48);
  font-family: 'Asap', sans-serif; 
}
.btn-custom {
  background-color: rgb(0, 135, 104);
  color: #fff;
  transition: background-color 0.3s ease;
}
.btn-custom:hover,
.btn-custom:active {
  background-color: rgb(0, 115, 94);
  color: #fff; 
}
.background-custom{
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(25, 30, 48, 0.1) 0px 2rem 4rem 0px;
}
h2{
  color: #fff;
}
.custom-writing{
  color: #fff;
}